<h1>Truffles</h1>

<h2>Truffles that are not sleepy!</h2>

<ul>
  {{#each truffles}}
    {{#unless sleepy}}
      {{> cats/cat-block sleep=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Truffles that are sleepy!</h2>

<ul>
  {{#each truffles}}
    {{#if sleepy}}
      {{> cats/cat-block sleep=false}}
    {{/if}}
  {{/each}}
</ul>