<!DOCTYPE html>
<html>
<title>GVI Truffles</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="css/truffle.css" type="text/css" />
<!-- <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> -->
<link href="https://fonts.googleapis.com/css?family=Tajawal" rel="stylesheet">

<body>

  <!-- Sidebar (hidden by default) -->
  <nav class="w3-sidebar w3-bar-block w3-card w3-top w3-xlarge w3-animate-left" style="display:none;z-index:2;width:40%;min-width:300px"
    id="mySidebar">
    <a href="javascript:void(0)" onclick="truffle_close()" class="w3-bar-item w3-button">Close Menu</a>
    <a href="#food" onclick="truffle_close()" class="w3-bar-item w3-button">Truffles</a>
    <a href="#about" onclick="truffle_close()" class="w3-bar-item w3-button">About</a>
  </nav>

  <!-- Top menu -->
  {{!-- <div class="w3-top">
    <div class="w3-white w3-xlarge" style="max-width:1200px;margin:auto">
      <div class="w3-button w3-padding-16 w3-left" onclick="truffle_open()">☰</div>
      <div class="w3-right w3-padding-16">Mail</div>
      <div class="w3-center w3-padding-16">My Truffles</div>
    </div>
  </div> --}}

  <!-- !PAGE CONTENT! -->

  <div class="w3-main w3-content w3-padding" style="max-width:1200px;margin-top:100px">
    {{{body}}}
  </div>

  <!-- Footer -->
  <footer class="w3-row-padding w3-padding-32">
  </footer>

  <!-- End page content -->
  </div>

</body>

</html>